/* Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 *= require_tree .
 *= require_self */

/* ----- Globals ----- */
* { margin: 0; padding: 0; }
body, html { width: 100%; }
body {
	background: #333;
	color: #555;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 0.9em;
}
a { 
	display: inline-block;
	text-decoration: none;
}
p { padding: 10px 0; }