h1 {
	font-size: 2em;
	font-weight: normal;
	text-shadow: #fff 1px 1px;
	margin: 20px 0;
}
h1 a { color: #444; }
h2 { font-weight: normal; }
header, main, footer {
	width: 90%;
}
header, nav, footer { margin: 0 auto; }
/* --- Header --- */
header nav {
	background: #323232;
	border-radius: 8px 8px 0 0;
	padding: 15px;
}
nav ul li {
	color: #ddd;
	display: inline-block;
	list-style: none;
	padding-right: 20px;
}
nav a {
	color: #fff;
	font-weight: bold;
}
/* --- Banner --- */
/*#banner {
	background: url(../images/);
}*/
/* --- Content --- */
main {
	background: #fff;
	border-radius: 0 0 15px 15px;
	min-height: 65vh;
	margin: 0 auto 20px;
	padding: 20px 0 30px;
}
main:after, fieldset:after { clear: both; }
form {
	margin: 0 auto;
	width: 500px;
}
fieldset {
	border: none;
	margin: 20px 0 10px;
}
label {
	display: inline-block;
	line-height: 20px;
	vertical-align: top;
	width: 80px;
}
input[type="text"], textarea { width: 250px; }
input[type="text"] {
	float: left;
	margin-left: 20px;
}
textarea {
	border: #ddd 1px solid;
	display: inline-block;
	float: left;
	height: 80px;
	margin-left: 20px;
	padding: 5px;
}
small.error {
	color: red;
	display: inline-block;
	padding-right: 15px;
}
select { float: left; }
select:first-of-type { margin-left: 20px; }
.field_with_errors label { color: red; }
/* --- Projects --- */
#projects td:first-of-type { width: 35%; }
#projects, #task {
	border: #ddd 1px solid;
	font-size: 0.85em;
	font-weight: normal;
	margin: 10px auto;
	text-align: left;
	width: 90%;
}
#projects tr:nth-child(even), #task tr:nth-child(even) { background: #DAE4F0; }
#projects tr:nth-child(odd), #task tr:nth-child(even) { background: #FFF; }
#projects td, #task td {
	border: #ddd 1px solid;
	padding: 10px;
}
#cta a {
	background: red;
	border-radius: 5px;
	color: #fff;
	display: block;
	margin: 20px auto 0;
	padding: 10px 20px;
	text-shadow: #444 1px 1px 1px;
	width: 150px;
}
#cta:after { clear: both; }
small a {
	background: #eaeaea;
	border: #ccc 1px solid;
	border-radius: 3px;
	color: #444;
	display: inline-block;
	margin: 10px 5px;
	padding: 10px 20px;
	text-decoration: none;
}
/* --- Footer --- */
footer {
	background: #323232;
	border-radius: 8px;
	padding: 15px 0;
}
footer small {
	color: #ddd;
	display: block;
	line-height: 26px;
}
/*footer nav { border-radius: 8px; }*/