<h1>Welcome to the Secret Garden!</h1>
<% if flash[:admin_only] %>
	<p class="admin-only"><%= flash[:admin_only] %></p>
<% end %>
<p>All the secrets of auth revealed.</p>
<%= image_tag "door.jpg" %><br>
<%= image_tag "secret.jpg" %>
<br>
<p><%= link_to "Back", :back %></p>