<h2>Projects Home</h2>
<br>
<table id="projects">
	<tbody>
		<% @projects.each do |project| %>
			<tr>
				<td><%= link_to project.name, project_path(project.id) %></td>
				<td>
					<% if project.descript.present? %>
						<%= project.descript %>
					<%else %>
						&nbsp;
					<% end %>
				</td>
			</tr>
		<% end %>
	</tbody>
</table>

<div id="cta"><%= link_to "Add New Task", projects_new_path %></div>


<!-- <div id="cta"><a  href="/projects/new">Add New Task</a> -->