<!DOCTYPE html>
<html>
	<head>
		<title>Ironhack Week 2, Movie Trivia Project</title>
		<link rel="stylesheet" type="text/css" href="/style.css">
	</head>
	<body>
		<div id="container" style="margin-top: 70px;">
			<h1 style="margin-top: 30px;">Let's Start the Game!</h1>
			<h2>Search the IMDB Database to Begin:</h2>
			<form action="/search_results" method="GET">
				<input type="text" name="new_search" placeholder="Search Titles">
				<button type="submit">Search Movies</button>
			</form>
		</div>
	</body>
</html>