<h1>Yay!</h1>
<ul>
	<% if user_signed_in? %>
		<li><%= link_to "Logout", destroy_user_session_path, method: "delete" %></li>
	<% else %>
		<li><%= link_to "Sign Up", new_user_registration_path %></li>
		<li><%= link_to "Login", new_user_session_path %></li>
	<% end %>
</ul>
<% if user_signed_in? %>
	<br>
	<h3>Sandwiches</h3>
	<%= link_to "View All Sandwiches", sandwiches_path %>
<% end %>