<h1>Lorem Ipsum Generator</h1>
<form action="" method="post">
	<textarea name="text_inspection[user_text]" id="text_inspection_user_text"></textarea>
	<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
	<button type="submit">Submit text</button>
</form>
<br>
<hr>
<p><a href="/">Go Back</a></p>