<h1>Word Results</h1>
<p>Word Count: <strong><%= @word_count %></strong></p>
<p>You typed:</p>
<blockquote><%= @text %></blockquote>
<br>
<p>Read Time: <strong><%= @read_time %></strong>.
<br>(275 Average WPM)</p>
<hr>
<p><a href="/">Go Back</a></p>