<h2>Home</h2>
<p><%= image_tag "kaiser_smile.gif", alt:"german shepherd smiling", title:"What a Cute Puppy!" %></p>
<p>Is this an include snippet inside a larger page template?</p>
<p><a href="/contact">Contact Us</a></p>