/* --- Globals --- */
* { margin: 0; padding: 0; }
body, html { height: 100%; }
ul, li { list-style: none; }
a#logo, nav ul li, #stats ul li, form#search, #search input, a#login, a#follow, ul#tweet-contents li, a.avatar, .post { display: inline-block; }
a, a:hover { color: #1b95e0; }
.clear { clear: both; } /* Cuz, lazy. Don't judge my life. */
/* --- Layout --- */
body { background: #f5f8fa; }
header {
	background: #fff;
/*	border-bottom: 1px solid;
*/	box-shadow: 0 1px 1px #aaa;
	padding: 8px 0 0;
}
#header-right { padding: 3px 0 0;}
nav li {
	font-size: 11px;
	line-height: 20px;
	margin-right: 20px;
	padding: 10px 0 3px;
}
nav a {
	color: #66757f;
	font-size: 13px;
}
header section, .follow-btn { text-align: right; }
#logo {
	background: url(../img/icon_twitter.png) center left no-repeat;
	background-size: contain;
	padding-left: 30px;
}
#moments {
	background: url(../img/icon_moments.png) center left no-repeat;
	background-size: contain;
	padding: 3px 18px;
}
#search input {
	background-color: #f5f8fa;
	border: 1px solid #e1e8ed;
	border-radius: 15px;
	color: #66757f;
	font-size: 12px;
	padding: 8px 40px 5px 10px;
}
#login {
	color: #66757f;
	font-size: 0.85em;
	margin-left: 20px;
}
#banner { 
	background: url(https://pbs.twimg.com/profile_banners/15889484/1432514791/1500x500) fixed top left no-repeat;
	height: 360px;
}
/*:hover {
	border-bottom: #1da1f2 5px solid;
	color: #1da1f2;						
}*/
#profile-pic {
	border: #fff 5px solid;
	border-radius: 12px;
	box-shadow: 0 1px 1px #ddd;
	height: 200px;
	margin-top: 250px;
	overflow: hidden;
	position: relative;
	width: 200px;
}
#profile-pic a, #profile-pic img, #stats ul li a { display: block; }
#stats {
	background: #fff;
	border-bottom: 1px solid #ddd;
}
#stats ul { margin-bottom: 0; }
#stats ul li a {
	/*height: 35px;*/
	padding: 10px 15px;
	text-align: center;
	text-decoration: none;
	/*width: 80px;*/
}
.stat-label {
	color: #666;
	display: block;
	font-size: 11px;
	text-transform: uppercase;
}
.stat-value {
	color: #1b95e0;
	font-size: 18px;
}
#stats ul li a.active .stat-value { color: #000; }
#stats ul li a.active, #stats ul li a:hover {
	border-bottom: #1b95e0 5px solid;
	padding-bottom: 5px;
}
#stats ul li a:hover { color: #1b95e0; }
.follow-btn { padding-right: 0; }
#follow {
	background-color: #e1e8ed;
	background-image: linear-gradient(#fff, #eee);
	border: 1px solid #e1e8ed;
	border-radius: 4px;
	color: #292f33;
	cursor: pointer;
	font-size: 14px;
	font-weight: bold;
	margin-top: 10px;
	padding: 10px 15px;
	text-align: center;
}
#follow:hover {
	background-color: #e1e8ed;
	background-image: linear-gradient(#fff, #ddd);
	border-color: #e1e8ed;
	color: #292f33;
	text-decoration: none;
}
#follow .icon {
	display: inline-block;
	height: 15px;
	padding-right: 5px;
}
/* --- Left Col --- */
#profile { color: #292f33; }
#profile h1 {
	font-size: 22px;
	margin-bottom: 0;
	padding: 20px 0 0;
}
#profile h1 a { color: #000; }
#profile h2 {
	color: #aaa;
	font-size: 14px;
	font-weight: normal;
	line-height: 18px;
	margin: 0 0 10px;
}
#details li {
	line-height: 16px;
	margin-bottom: 10px;
	padding-left: 26px;
}
#located {
	background: url(../img/icon_location.png) center left no-repeat;
	background-size: contain;
}
#joined {
	background: url(../img/icon_joined.png) center left no-repeat;
	background-size: contain;
}
#photos {
	background: url(../img/icon_media.png) center left no-repeat;
	background-size: contain;
	margin-top: 20px;
}
ul#media li {
	border-radius: 5px;
	display: inline-block;
	float: left;
	height: 76px;
	margin: 0 5px 5px 0;
	overflow: hidden;
	width: 76px;
}
ul#media a { display: block; }
ul#media img {
	height: 76px;
	width: 76px;
}
/* --- Center Feed --- */
ul#tweet-contents {
	background: #fff;
	border-left: 1px solid #e1e8ed;
	border-right: 1px solid #e1e8ed;
	border-top: 1px solid #e1e8ed;
	border-radius: 10px 10px 0 0;
	font-size: 18px;
	margin: 10px 0 0;
	padding: 12px 15px 10px;
}
ul#tweet-contents li { margin-right: 25px; }
#feed {
	background: #fff;
	border-bottom: 1px solid #e1e8ed;
	border-left: 1px solid #e1e8ed;
	border-right: 1px solid #e1e8ed;
	border-radius: 0 0 10px 10px;
	margin-bottom: 20px;
}
.tweet {
	border-top: 1px solid #e1e8ed;
	margin-bottom: 15px;
	padding: 15px;
}
a.retweet {
	background: url(../img/icon_retweet.png) 14px 0 no-repeat;
	background-size: contain; /* <-- Icon Hack. Fuck that icon font noise. */
	color: #8899a6;
	display: block;
	font-size: 0.9em;
	line-height: 15px;
	margin: 0 0 5px 20px;
	padding-left: 38px;
}
.avatar {
	float: left;
	height: 48px;
	margin: 2px 10px 0 0;
	overflow: hidden;
	width: 48px;
}
.avatar img {
	border-radius: 5px;
	height: 48px;
	width: 48px;
}
.retweeted { margin: 0; }
.retweeted a { color: #8899a6; }
.post {
	float: left;
	width: 90%;
}
.post img {
	border-radius: 10px;
	margin-top: 10px;
	max-width: 100%;
}
.icons {
	clear: both;
}
/* --- Right Column --- */
aside.col-sm-2 { padding: 0; }
#signup-cta {
	background: #e1e8ed;
	border: 1px solid #e1e8ed;
	border-radius: 10px;
	color: #8899a6;
	margin: 10px 0;
	padding: 15px;
}
#signup-cta h2 {
	color: #66757f;
	font-size: 22px;
	font-weight: normal;
	line-height: 26px;
	margin: 0 0 5px;
	padding: 0;
}
#signup-cta a {
	background: #1da1f2;
	border-radius: 5px;
	color: #fff;
	display: block;
	font-weight: normal;
	text-align: center;
	padding: 10px 15px;
}
#recommended, #trends {
	background: #fff;
	border: 1px solid #e1e8ed;
	border-radius: 10px;
	color: #8899a6;
	margin: 10px 0;
	padding: 15px;
}
#recommended h3, #trends h3 {
	font-size: 16px;
	font-weight: normal;
	display: inline-block;
	margin: 0 0 15px;
}
#recommended li, #trends li { margin-bottom: 8px; }
#trends a {
	display: block;
	font-weight: bold;
}
ul#footer li {
	display: inline;
	font-size: 12px;
	padding-right: 10px;
}
ul#footer li, ul#footer li a { color: #ccd6dd; }
ul#footer li a:hover { color: #1b95e0; }
/* Twitter Blue = #1da1f2 */