<!-- app/views/site/home.html.erb -->
<h1>Word Central</h1>
<p>Your destination for text utilities.</p>
<p><a href="/text_inspections/new">Text Inspection Crap</a></p>
<p><a href="/asciis/new">ASCII Crap!!</a></p>