body {
	/*background: #000;*/
	font-size: 1.4em;
	padding: 20px;
	text-align: center; 
}
h1 { padding-bottom: 20px; }
#spotify-results {
	/*background: #0085A1;*/
	border: #ccc 2px solid;
	color: #fff;
	margin: 20px auto;
	padding: 20px 0 20px 4%;
	text-align: left;
	width: 95%;
}
.spotify-artist {
	display: inline-block;
	float: left;
	margin: 0 3% 5px 0;
	max-height: 400px;
	overflow: hidden;
	width: 30%;
}
.spotify-artist h3 { margin: 20px 0 5px; }
.spotify-artist img { width: 100%; }
.clear { clear: both; }